---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';

const pageTitle = 'Página de inicio';
const create = true;
---

<BaseLayout pageTitle={pageTitle}>
	{
		create ? (
			<p class='createBy'>Pagina creada por Miguel Angel Villegas</p>
		) : (
			<p>Esta pagina ha sido creada por varias personas</p>
		)
	}

	<Greeting
		messages={[
			'Hola',
			'Buenos días',
			'Buena tarde',
			'Buenas noches',
			'¿Cómo estás?',
			'Saludos',
		]}
		client:load
	/>

	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis mollitia
		odio dolorum facere. Placeat praesentium vitae sunt facere odio nihil amet
		pariatur similique ipsam, velit quisquam ab voluptates veniam eligendi.
	</p>
</BaseLayout>
