---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Página de inicio';
const create = true;
---

<BaseLayout pageTitle={pageTitle}>
	{
		create ? (
			<p class='createBy'>Pagina creada por Miguel Angel Villegas</p>
		) : (
			<p>Esta pagina ha sido creada por varias personas</p>
		)
	}
	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis mollitia
		odio dolorum facere. Placeat praesentium vitae sunt facere odio nihil amet
		pariatur similique ipsam, velit quisquam ab voluptates veniam eligendi.
	</p>
</BaseLayout>
